[Unit]
Description=My Sample Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/doorpi/scripts/doorbell.py
user=pi
group=pi

[Install]
WantedBy=multi-user.target
